       /* #region GLOBAL STYLES */
       body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        footer {
            background-color: #333333;
            color: #fffcfc;
            padding: 0;
            position: relative;
            bottom: 0;
            width: 100%;
        }
        input {
            display: block;
            margin: 10px auto;
            padding: 5px;
        }
        button {
            padding: 10px;
            background-color: #2ecc71;
            color: white;
            border: none;
            cursor: pointer;
        }
        h1,h2,h3,h4,h5,h6 {
            margin: 0;
            padding: 0;
        }
        section:last-of-type h3{
            max-width: 500px;
            font-size: 2.1rem;
            text-align: center;
            margin: 0.5rem auto;
            padding: 2rem;
            background-color: black;
            color: white;
            background-color: gray;
            box-shadow: 0 5px 9px 5px #00000033;
            font-size: 1.5rem;
        }
        /* PSUEDOCLASSES */
         section header ~ h3:nth-child(odd) {
            color: red;
        }
         section header ~ h3:nth-child(even) {
            color: blue;
        }
        section header ~ h3:nth-child(3n) {
            color: green;
        }
        /* #endregion */
        /* #region DROP DOWN MENU */
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropbtn {
            background-color: #3498db;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            min-width: 100px;
        }
        .dropdown-content a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: black;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        /* #endregion */
        /* #region LOGIN REGISTER */
        .auth-container {
            margin: 20px;
        }
        /* #endregion */
        /* #region FORMS  */
        .selection-form form input {
            background-color: black;
            color: white;
        }
        /* PSEUDO ELEMENTS */
        .selection-form form input::placeholder {
            color: lime;
        }
        .selection-form form input:invalid {
            border: 2px solid red;
        }
        .selection-form form input:valid {
            border: 2px solid green;
        }
        /* #endregion */